@import 'variables';
@import 'spacing';
@import 'mixins';
@import './sections/header';
@import './sections/main';
@import './sections/footer';
@import './sections/sidebar';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    @include row();
}




