.page-wrapper {
    @include row();
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    
    @media screen and (max-width: 1024px) {
        &::after {
            width: 104px;
            height: 27px;
            content: "";
            background-image: url(../../menu-bar.svg);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            top: 20px;
            right: -40px;
            cursor: pointer;
            z-index: 4;
        }
    }
}