aside {
    margin-top: 60px;
    @include col(3);
    @extend .p-10;
    font-family: $secondary-font;
    background: linear-gradient(90deg, darken($primary-color, 9%) 0%, lighten($primary-color, 2%) 32%, lighten($primary-color, 2%) 69%, darken($primary-color, 10%) 100%);
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;

    @media screen and (max-width: 1024px) {
        display: none;
    }

    h3 {
        color: darken($primary-color, 35%);
        padding: 16px 0;
        font-size: medium;
    }

    li {
        list-style: none;
        margin-bottom: 5px;

        a {
            text-transform: capitalize;
            color: darken($primary-color, 35%);
            font-weight: 100;
        }
    }
}