.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.m-10 {
  margin: 10px;
}

.p-10, aside, .requirements, .benefits, .participation, .explanation {
  padding: 10px;
}

.m-15 {
  margin: 15px;
}

.p-15 {
  padding: 15px;
}

.m-20 {
  margin: 20px;
}

.p-20, .intro .summary {
  padding: 20px;
}

.m-25 {
  margin: 25px;
}

.p-25 {
  padding: 25px;
}

.m-30 {
  margin: 30px;
}

.p-30 {
  padding: 30px;
}

.m-35 {
  margin: 35px;
}

.p-35 {
  padding: 35px;
}

.m-40 {
  margin: 40px;
}

.p-40, footer, .intro .preamble, .intro header {
  padding: 40px;
}

.m-45 {
  margin: 45px;
}

.p-45 {
  padding: 45px;
}

.m-50 {
  margin: 50px;
}

.p-50 {
  padding: 50px;
}

.m-75 {
  margin: 75px;
}

.p-75 {
  padding: 75px;
}

.m-100 {
  margin: 100px;
}

.p-100 {
  padding: 100px;
}

.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-t-40, footer {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-t-50, .supporting {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  height: 100%;
  font-family: "Francois One", sans-serif;
}
@media screen and (min-width: 1024px) {
  .intro {
    flex: 0 0 66.6666666667%;
    padding-left: 15px;
  }
}
.intro header {
  -webkit-box-shadow: 0px 0px 0px 5px white, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #566c5d, 5px 5px 15px 5px rgba(87, 146, 255, 0);
  box-shadow: 0px 0px 0px 5px white, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #566c5d, 5px 5px 15px 5px rgba(87, 146, 255, 0);
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  overflow: hidden;
  text-align: inherit;
  background: #88a090;
  background: linear-gradient(90deg, #567343 0%, #6e9455 32%, #6e9455 69%, #567343 100%);
  color: #fafafa;
  text-transform: uppercase;
  flex: 0 0 100%;
}
.intro .summary {
  flex: 0 0 50%;
  background: #566c5d;
  color: #fafafa;
}
.intro .summary a {
  color: #121714;
}
@media screen and (max-width: 1024px) {
  .intro .summary {
    flex: 0 0 100%;
  }
}
.intro .preamble {
  background: linear-gradient(90deg, #a89077 0%, #e2dad1 32%, #e2dad1 69%, #a68e74 100%);
  color: #3b3a3a;
  text-align: center;
  flex: 0 0 50%;
}
.intro .preamble h3 {
  background: -webkit-linear-gradient(to right, #3e5330 0%, #88a090 100%);
  background: -moz-linear-gradient(to right, #3e5330 0%, #88a090 100%);
  background: linear-gradient(to right, #3e5330 0%, #88a090 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .preamble > p:nth-child(2)::first-letter {
  font-size: 40px;
  font-weight: 600;
  background: -webkit-linear-gradient(to right, #c1cdc5 0%, #88a090 100%);
  background: -moz-linear-gradient(to right, #c1cdc5 0%, #88a090 100%);
  background: linear-gradient(to right, #c1cdc5 0%, #88a090 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1024px) {
  .intro .preamble {
    flex: 0 0 100%;
  }
}

.supporting {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  height: 100%;
  background: #443f34;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
}
@media screen and (min-width: 830px) {
  .supporting {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    padding: 40px;
  }
}

.explanation {
  background: #baa793;
  color: #3b3a3a;
  flex: 0 0 58.3333333333%;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .explanation {
    flex: 0 0 100%;
  }
}

.participation {
  background: #3e5330;
  color: #fafafa;
  line-height: 31px;
  flex: 0 0 100%;
}
@media screen and (min-width: 480px) {
  .participation {
    padding-top: 175px;
    margin-top: -65px;
    flex: 0 0 33.3333333333%;
    padding-left: 40px;
    margin-left: -20px;
    z-index: 1;
  }
}
.participation a {
  margin: 0 2px;
  padding: 0 2px;
  background-color: #fafafa;
  color: #3b3a3a;
}
.participation a:hover {
  background: #3b3a3a;
  color: #fafafa;
}

.benefits {
  background: #baa793;
  color: #fafafa;
}
@media screen and (max-width: 580px) {
  .benefits {
    flex: 0 0 100%;
  }
}

.requirements {
  background: #88a090;
  color: #3b3a3a;
}
@media screen and (max-width: 580px) {
  .requirements {
    flex: 0 0 100%;
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  height: 100%;
  background: #baa793;
  color: #fafafa;
  display: inline-flex;
  justify-content: center;
  gap: 70px;
}

.DaveShea {
  font-size: 25px;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.zen-validate-html {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.zen-validate-html:hover {
  color: #fafafa;
}

.zen-validate-css {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.zen-validate-css:hover {
  color: #fafafa;
}

.zen-license {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.zen-license:hover {
  color: #fafafa;
}

.zen-accessibility {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.zen-accessibility:hover {
  color: #fafafa;
}

.zen-github {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.zen-github:hover {
  color: #fafafa;
}

aside {
  margin-top: 60px;
  flex: 0 0 25%;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(90deg, #6f8b78 0%, #8ea595 32%, #8ea595 69%, #6d8876 100%);
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
}
@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}
aside h3 {
  color: #344139;
  padding: 16px 0;
  font-size: medium;
}
aside li {
  list-style: none;
  margin-bottom: 5px;
}
aside li a {
  text-transform: capitalize;
  color: #344139;
  font-weight: 100;
}

.page-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
@media screen and (max-width: 1024px) {
  .page-wrapper::after {
    width: 104px;
    height: 27px;
    content: "";
    background-image: url(../../menu-bar.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 20px;
    right: -40px;
    cursor: pointer;
    z-index: 4;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #baa793;
  background-image: url(../c99a77d642aa08cd728e86861fe90248.jpg);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #3e5330;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s;
}
a:hover {
  border-bottom: 3px solid #3e5330;
}

abbr {
  text-decoration: none;
}

h3 {
  font-size: large;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: large;
  }
}

p {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
